$body-bg: #FFF;
$text-color: #4C493C;

$font-family-sans-serif: "-apple-system", BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
$font-family-serif: "honoka mincho", "MingLiU", Batang, "Times New Roman", serif;

$breakpoint-desktop: 960px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

$color-ivory: #F8EFDF;
$color-charcoal: #433C2D;
$color-green: #3D9E00;
