
.blog {width: 800px;margin: 0 auto;
  li {padding: 10px;}
  a {display: block;overflow: hidden;background-color: #afdfdf;padding: 10px;}
  .blog-thumbnail {
    img {width: 100%;height: auto;}
  }
}






